.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card {
  position: relative;
  height: 220px;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s;
}

.card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.subtitle {
  opacity: 0;
  transition: 0.3s;
}

.card:hover img {
  transform: scale(1.50);
  filter: grayscale(0%);
}

.card:hover .card-content {
  bottom: 20px;
}

.card:hover .subtitle {
  opacity: 1;
}
