/*Ejercicio1*/

.layout-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 8fr 1fr;
    height: 98vh;
    border: solid black;
}

.header{
    background-color: #ffcc00;
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    height: 100px;
}

.sidebar{
    background-color: grey;
    grid-column: 1 / 2;
    grid-row: 2 / 8;
    width: 250px;
}

.main-content{
    background-color: white;
    grid-column: 2 / 8;
    grid-row: 2 / 8;
}

.footer{
    background-color: #333;
    grid-column: 1 / 10;
    grid-row: 8 / 10;
    height: 100px;
}

/*Ejercicio2*/

.gallery-container{
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card{
    background-color: rgb(226, 226, 226);
    border: solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-img{
    width: 100%;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Ejercicio 3*/

.form-container{
    max-width: 600px;
    padding: 20px;
    display: grid;
    grid-template-columns: (1fr 1fr);
    border: solid black;
    border-radius: 10px;
    background-color: rgb(173, 173, 173);
    margin-top: 10%;
    margin-left: 30%;
    gap: 5px;
}

.form-title{
    grid-column: span 2;
    text-align: center;
}

.full-width{
    grid-column: span 2;
}

.btn-submit{
    grid-column: span 2;
    padding: 10px;
    background-color: blue;
}